---
layout: page
title: 分类目录
---

{% for category in site.categories %} 
  <h2 >{{ category[0] | join: "/" }}<span>{{category[1]|size}}</span></h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% for node in pages_list %}
      {% if page.url == node.url %}
        <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a><span>{{node.date|date_to_string}}</span></li>
      {% else %}
        <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a><span>{{node.date|date_to_string}}</span></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
